@import 'tailwindcss';

@theme {
  --color-brand-black: #191716;
  --color-brand-white: #FAF4F3;
  --color-bold-red: #E1381B;
  --color-secondary: #0061a6;
  --color-text-muted: #A4918E;
  --color-lighter-gray: #f2ebe9;
  --color-barely-gray: #eee5e3;
  
  --font-inter: "Inter", sans-serif;

  --spacing-container-max: 1200px;
  --spacing-hero-pad: 116px;
  --spacing-generous: 24px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
